<app-breadcrumb [items]="breadcrumb"></app-breadcrumb>

<div class="app-content-page">
  <h1 class="app-content-title">
    <app-i18n key="plan.title"></app-i18n>
  </h1>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <app-plan-card-free></app-plan-card-free>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <app-plan-card-paid
        [plan]="plans.growth"
      ></app-plan-card-paid>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <app-plan-card-paid
        [plan]="plans.enterprise"
      ></app-plan-card-paid>
    </div>
  </div>
</div>
