<div class="auth">
  <div
    class="wrapper"
    [style.background-image]="
      'url(' + backgroundImageUrl + ')'
    "
  >
    <div class="content">
      <div class="logo">
        <img
          *ngIf="logoUrl"
          [src]="logoUrl"
          width="240px"
          alt=""
        />
        <h1 *ngIf="!logoUrl">
          <app-i18n key="app.title"></app-i18n>
        </h1>
      </div>

      <h3 style="text-align: center; font-weight: normal;">
        <app-i18n key="auth.verifyEmail.message"></app-i18n>
      </h3>
    </div>
  </div>
</div>
