<div class="table-responsive">
    <table style="width: 100%;" mat-table [dataSource]="service.rows" matSort (matSortChange)="service.doChangeSort($event)" [matSortActive]="service.sorter.columnKey" [matSortDirection]="service.sorter.order">
        <ng-container matColumnDef="_select">
            <th mat-header-cell *matHeaderCellDef>
                <app-table-th-checkbox [rows]="service.rows" [selectedKeys]="service.selectedKeys"></app-table-th-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <app-table-td-checkbox [row]="row" [selectedKeys]="service.selectedKeys"></app-table-td-checkbox>
            </td>
        </ng-container>

        <ng-container [matColumnDef]="fields.positionName.name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{ fields.positionName.label }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ presenter(row, 'positionName') }}
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.department.name">
            <th mat-header-cell *matHeaderCellDef>
                <!-- {{ fields.department.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- <app-table-item-relation-to-many [url]="fields.department.viewUrl" [permission]="fields.department.readPermission" [value]="presenter(row, 'department')">
                </app-table-item-relation-to-many> -->
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.supervisor.name">
            <th mat-header-cell *matHeaderCellDef>
                <!-- {{ fields.supervisor.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- <app-table-item-relation-to-one [url]="fields.supervisor.viewUrl" [permission]="fields.supervisor.readPermission" [value]="presenter(row, 'supervisor')">
                </app-table-item-relation-to-one> -->
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.jobLocation.name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <!-- {{ fields.jobLocation.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- {{ presenter(row, 'jobLocation') }} -->
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.jobCode.name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <!-- {{ fields.jobCode.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- {{ presenter(row, 'jobCode') }} -->
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.generalDescription.name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <!-- {{ fields.generalDescription.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- {{ presenter(row, 'generalDescription') }} -->
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.generalGoals.name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <!-- {{ fields.generalGoals.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- {{ presenter(row, 'generalGoals') }} -->
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.detailedGoals.name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <!-- {{ fields.detailedGoals.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- {{ presenter(row, 'detailedGoals') }} -->
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.academicCertificates.name">
            <th mat-header-cell *matHeaderCellDef>
                <!-- {{ fields.academicCertificates.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- <app-table-item-relation-to-one [url]="fields.academicCertificates.viewUrl" [permission]="fields.academicCertificates.readPermission" [value]="presenter(row, 'academicCertificates')">
                </app-table-item-relation-to-one> -->
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.trainingCertificates.name">
            <th mat-header-cell *matHeaderCellDef>
                <!-- {{ fields.trainingCertificates.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- <app-table-item-relation-to-one [url]="fields.trainingCertificates.viewUrl" [permission]="fields.trainingCertificates.readPermission" [value]="presenter(row, 'trainingCertificates')">
                </app-table-item-relation-to-one> -->
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.professionalCertificates.name">
            <th mat-header-cell *matHeaderCellDef>
                <!-- {{ fields.professionalCertificates.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- <app-table-item-relation-to-one [url]="fields.professionalCertificates.viewUrl" [permission]="fields.professionalCertificates.readPermission" [value]="presenter(row, 'professionalCertificates')"></app-table-item-relation-to-one> -->
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.softSkills.name">
            <th mat-header-cell *matHeaderCellDef>
                <!-- {{ fields.softSkills.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- <app-table-item-relation-to-one [url]="fields.softSkills.viewUrl" [permission]="fields.softSkills.readPermission" [value]="presenter(row, 'softSkills')">
                </app-table-item-relation-to-one> -->
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.managementSkills.name">
            <th mat-header-cell *matHeaderCellDef>
                <!-- {{ fields.managementSkills.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- <app-table-item-relation-to-one [url]="fields.managementSkills.viewUrl" [permission]="fields.managementSkills.readPermission" [value]="presenter(row, 'managementSkills')">
                </app-table-item-relation-to-one> -->
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.artitistikSkills.name">
            <th mat-header-cell *matHeaderCellDef>
                <!-- {{ fields.artitistikSkills.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- <app-table-item-relation-to-one [url]="fields.artitistikSkills.viewUrl" [permission]="fields.artitistikSkills.readPermission" [value]="presenter(row, 'artitistikSkills')">
                </app-table-item-relation-to-one> -->
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.jobFramework.name">
            <th mat-header-cell *matHeaderCellDef>
                <!-- {{ fields.jobFramework.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- <app-table-item-relation-to-one [url]="fields.jobFramework.viewUrl" [permission]="fields.jobFramework.readPermission" [value]="presenter(row, 'jobFramework')">
                </app-table-item-relation-to-one> -->
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.connectionLevel.name">
            <th mat-header-cell *matHeaderCellDef>
                <!-- {{ fields.connectionLevel.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- <app-table-item-relation-to-one [url]="fields.connectionLevel.viewUrl" [permission]="fields.connectionLevel.readPermission" [value]="presenter(row, 'connectionLevel')">
                </app-table-item-relation-to-one> -->
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.commonCommittees.name">
            <th mat-header-cell *matHeaderCellDef>
                <!-- {{ fields.commonCommittees.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- <app-table-item-relation-to-many [url]="fields.commonCommittees.viewUrl" [permission]="fields.commonCommittees.readPermission" [value]="presenter(row, 'commonCommittees')">
                </app-table-item-relation-to-many> -->
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.jobRequirments.name">
            <th mat-header-cell *matHeaderCellDef>
                <!-- {{ fields.jobRequirments.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- <app-table-item-relation-to-one [url]="fields.jobRequirments.viewUrl" [permission]="fields.jobRequirments.readPermission" [value]="presenter(row, 'jobRequirments')">
                </app-table-item-relation-to-one> -->
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.jobPath.name">
            <th mat-header-cell *matHeaderCellDef>
                <!-- {{ fields.jobPath.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- <app-table-item-relation-to-one [url]="fields.jobPath.viewUrl" [permission]="fields.jobPath.readPermission" [value]="presenter(row, 'jobPath')"></app-table-item-relation-to-one> -->
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.tasksDuties.name">
            <th mat-header-cell *matHeaderCellDef>
                <!-- {{ fields.tasksDuties.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- <app-table-item-relation-to-one [url]="fields.tasksDuties.viewUrl" [permission]="fields.tasksDuties.readPermission" [value]="presenter(row, 'tasksDuties')">
                </app-table-item-relation-to-one> -->
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.administrativeFinancialPowers.name">
            <th mat-header-cell *matHeaderCellDef>
                <!-- {{ fields.administrativeFinancialPowers.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- <app-table-item-relation-to-one [url]="fields.administrativeFinancialPowers.viewUrl" [permission]="fields.administrativeFinancialPowers.readPermission" [value]="presenter(row, 'administrativeFinancialPowers')"></app-table-item-relation-to-one> -->
            </td>
        </ng-container>
        <ng-container [matColumnDef]="fields.cardInformation.name">
            <th mat-header-cell *matHeaderCellDef>
                <!-- {{ fields.cardInformation.label }} -->
            </th>
            <td mat-cell *matCellDef="let row">
                <!-- <app-table-item-relation-to-one [url]="fields.cardInformation.viewUrl" [permission]="fields.cardInformation.readPermission" [value]="presenter(row, 'cardInformation')">
                </app-table-item-relation-to-one> -->
            </td>
        </ng-container>

        <ng-container matColumnDef="_actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td style="width: 180px; text-align: right;" mat-cell *matCellDef="let row">
                <button mat-icon-button type="button" color="primary" [routerLink]="['/jobs', row.id]" [matTooltip]="i18n('common.view')">
          <mat-icon>search</mat-icon>
        </button>

                <button mat-icon-button type="button" color="primary" *ngIf="hasPermissionToEdit" [routerLink]="['/jobs', row.id, 'edit']" [matTooltip]="i18n('common.edit')">
          <mat-icon>edit</mat-icon>
        </button>

                <button mat-icon-button type="button" color="primary" *ngIf="hasPermissionToDestroy" (click)="doDestroy(row.id)" [matTooltip]="i18n('common.destroy')">
          <mat-icon>delete</mat-icon>
        </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: this.columns"></tr>
    </table>

    <div *ngIf="!service.loading && !service.count" class="mat-table-message">
        <app-i18n key="table.noData"></app-i18n>
    </div>

    <div *ngIf="service.loading" class="mat-table-message">
        <app-i18n key="table.loading"></app-i18n>
    </div>
</div>

<mat-paginator [disabled]="service.loading" [pageIndex]="service.paginationPageIndex" [pageSize]="service.paginationPageSize" [pageSizeOptions]="[10, 20, 30, 40]" [length]="service.count" (page)="service.doChangePagination($event)" showFirstLastButtons></mat-paginator>