<app-breadcrumb [items]="breadcrumb"></app-breadcrumb>

<div class="app-content-page">
  <h1 class="app-content-title">
    <app-i18n key="entities.advancedPayment.view.title"></app-i18n>
  </h1>

  <app-advanced-payment-view-toolbar></app-advanced-payment-view-toolbar>

  <div *ngIf="loading" class="app-page-spinner">
    <mat-spinner color="accent"></mat-spinner>
  </div>

  <div *ngIf="!loading">
    <app-view-item-text
      [label]="fields.amount.label"
      [value]="presenter(record, 'amount')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.dateRequired.label"
      [value]="presenter(record, 'dateRequired')"
    ></app-view-item-text>

    <app-view-item-text
      [label]="fields.paymentReason.label"
      [value]="presenter(record, 'paymentReason')"
    ></app-view-item-text>
  </div>
</div>
