<form
  class="form"
  (ngSubmit)="doSave()"
  [formGroup]="form"
  #ngForm="ngForm"
  *ngIf="form"
>
  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.employeeName.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.employeeName.name"
      [placeholder]="fields.employeeName.placeholder"
      [required]="fields.employeeName.required"
    appAutofocus
    />

    <mat-hint *ngIf="fields.employeeName.hint">
      {{ fields.employeeName.hint }}
    </mat-hint>

    <mat-error>
      <app-validations
        [control]="form.get(fields.employeeName.name)"
        [label]="fields.employeeName.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.workingPeriod.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.workingPeriod.name"
      [required]="fields.workingPeriod.required"
      [placeholder]="fields.workingPeriod.placeholder"
      type="number"
      step="1"
    />

    <mat-hint *ngIf="fields.workingPeriod.hint">
      {{ fields.workingPeriod.hint }}
    </mat-hint>

    <mat-error>
      <app-validations
        [control]="form.get(fields.workingPeriod.name)"
        [label]="fields.workingPeriod.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.employmentSalary.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.employmentSalary.name"
      [placeholder]="fields.employmentSalary.placeholder"
      [required]="fields.employmentSalary.required"
    />

    <mat-hint *ngIf="fields.employmentSalary.hint">
      {{ fields.employmentSalary.hint }}
    </mat-hint>

    <mat-error>
      <app-validations
        [control]="form.get(fields.employmentSalary.name)"
        [label]="fields.employmentSalary.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.jobRoles.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.jobRoles.name"
      [placeholder]="fields.jobRoles.placeholder"
      [required]="fields.jobRoles.required"
    />

    <mat-hint *ngIf="fields.jobRoles.hint">
      {{ fields.jobRoles.hint }}
    </mat-hint>

    <mat-error>
      <app-validations
        [control]="form.get(fields.jobRoles.name)"
        [label]="fields.jobRoles.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.employeeContactEmail.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.employeeContactEmail.name"
      [placeholder]="fields.employeeContactEmail.placeholder"
      [required]="fields.employeeContactEmail.required"
    />

    <mat-hint *ngIf="fields.employeeContactEmail.hint">
      {{ fields.employeeContactEmail.hint }}
    </mat-hint>

    <mat-error>
      <app-validations
        [control]="form.get(fields.employeeContactEmail.name)"
        [label]="fields.employeeContactEmail.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.mobileNumber.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.mobileNumber.name"
      [required]="fields.mobileNumber.required"
      [placeholder]="fields.mobileNumber.placeholder"
      type="number"
      step="1"
    />

    <mat-hint *ngIf="fields.mobileNumber.hint">
      {{ fields.mobileNumber.hint }}
    </mat-hint>

    <mat-error>
      <app-validations
        [control]="form.get(fields.mobileNumber.name)"
        [label]="fields.mobileNumber.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.homeAddress.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.homeAddress.name"
      [placeholder]="fields.homeAddress.placeholder"
      [required]="fields.homeAddress.required"
    />

    <mat-hint *ngIf="fields.homeAddress.hint">
      {{ fields.homeAddress.hint }}
    </mat-hint>

    <mat-error>
      <app-validations
        [control]="form.get(fields.homeAddress.name)"
        [label]="fields.homeAddress.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.contractPeriod.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.contractPeriod.name"
      [required]="fields.contractPeriod.required"
      [placeholder]="fields.contractPeriod.placeholder"
      type="number"
      step="1"
    />

    <mat-hint *ngIf="fields.contractPeriod.hint">
      {{ fields.contractPeriod.hint }}
    </mat-hint>

    <mat-error>
      <app-validations
        [control]="form.get(fields.contractPeriod.name)"
        [label]="fields.contractPeriod.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.startDate.label }}</mat-label>
    <input
      matInput
      type="date"
      [formControlName]="fields.startDate.name"
      [placeholder]="fields.startDate.placeholder"
      [required]="fields.startDate.required"
    />

    <mat-hint *ngIf="fields.startDate.hint">
      {{ fields.startDate.hint }}
    </mat-hint>

    <mat-error>
      <app-validations
        [control]="form.get(fields.startDate.name)"
        [label]="fields.startDate.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <div
    class="form-buttons"
    [class.form-buttons-modal]="modal"
  >
    <button
      mat-raised-button
      [disabled]="saveLoading"
      color="primary"
      type="submit"
    >
      <mat-icon
        inline
        fontSet="far"
        fontIcon="fa-save"
      ></mat-icon
      >&#160;
      <app-i18n key="common.save"></app-i18n>
    </button>
    <button
      mat-flat-button
      [disabled]="saveLoading"
      (click)="doReset()"
      type="button"
    >
      <mat-icon
        inline
        fontSet="fas"
        fontIcon="fa-undo"
      ></mat-icon
      >&#160;
      <app-i18n key="common.reset"></app-i18n>
    </button>

    <button
      mat-flat-button
      [disabled]="saveLoading"
      type="button"
      (click)="cancel.emit()"
    >
      <mat-icon
        inline
        fontSet="fas"
        fontIcon="fa-times"
      ></mat-icon
      >&#160;
      <app-i18n key="common.cancel"></app-i18n>
    </button>
  </div>
</form>
