<app-breadcrumb [items]="breadcrumb"></app-breadcrumb>

<div class="app-content-page">
  <h1 class="app-content-title">
    <app-i18n key="auth.profile.title"></app-i18n>
  </h1>

  <form
    class="form"
    (ngSubmit)="doSave()"
    [formGroup]="form"
    #ngForm="ngForm"
  >
    <mat-form-field
      floatLabel="always"
      appearance="outline"
    >
      <mat-label>{{ fields.firstName.label }}</mat-label>
      <input
        matInput
        [formControlName]="fields.firstName.name"
        [required]="fields.firstName.required"
      />
      <mat-error>
        <app-validations
          [control]="form.get(fields.firstName.name)"
          [label]="fields.firstName.label"
        ></app-validations>
      </mat-error>
    </mat-form-field>

    <mat-form-field
      floatLabel="always"
      appearance="outline"
    >
      <mat-label>{{ fields.lastName.label }}</mat-label>
      <input
        matInput
        [formControlName]="fields.lastName.name"
        [required]="fields.lastName.required"
      />
      <mat-error>
        <app-validations
          [control]="form.get(fields.lastName.name)"
          [label]="fields.lastName.label"
        ></app-validations>
      </mat-error>
    </mat-form-field>

    <mat-form-field
      floatLabel="always"
      appearance="outline"
    >
      <mat-label>{{ fields.phoneNumber.label }}</mat-label>
      <input
        matInput
        [formControlName]="fields.phoneNumber.name"
        [required]="fields.phoneNumber.required"
      />
      <mat-error>
        <app-validations
          [control]="form.get(fields.phoneNumber.name)"
          [label]="fields.phoneNumber.label"
        ></app-validations>
      </mat-error>
    </mat-form-field>

    <app-image-form-field
      [formControl]="form.get(fields.avatars.name)"
      [label]="fields.avatars.label"
      [storage]="fields.avatars.storage"
      [required]="fields.avatars.required"
      [max]="fields.avatars.max"
      [submitted]="ngForm.submitted"
    ></app-image-form-field>

    <div class="form-buttons">
      <button
        mat-raised-button
        [disabled]="saveLoading"
        color="primary"
        type="submit"
      >
        <mat-icon
          inline
          fontSet="far"
          fontIcon="fa-save"
        ></mat-icon
        >&#160;
        <app-i18n key="common.save"></app-i18n>
      </button>
      <button
        mat-flat-button
        [disabled]="saveLoading"
        (click)="doReset()"
        type="button"
      >
        <mat-icon
          inline
          fontSet="fas"
          fontIcon="fa-undo"
        ></mat-icon
        >&#160;
        <app-i18n key="common.reset"></app-i18n>
      </button>
      <button
        mat-flat-button
        [disabled]="saveLoading"
        type="button"
        [routerLink]="['/']"
      >
        <mat-icon
          inline
          fontSet="fas"
          fontIcon="fa-times"
        ></mat-icon
        >&#160;
        <app-i18n key="common.cancel"></app-i18n>
      </button>
    </div>
  </form>
</div>
