<div class="filter">
  <app-filter-preview
    [values]="form.value"
    [fields]="fields"
    [expanded]="expanded"
    (click)="doToggleExpanded()"
    (remove)="doRemove($event)"
  ></app-filter-preview>
  <form
    (ngSubmit)="doFilter()"
    [formGroup]="form"
    #ngForm="ngForm"
    *ngIf="form && expanded"
  >
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
        >
          <mat-label>{{
            fields.timestampRange.label
          }}</mat-label>
          <app-date-time-range-input
            [formControl]="
              form.get(fields.timestampRange.name)
            "
            [required]="fields.timestampRange.required"
          ></app-date-time-range-input>
          <mat-error>
            <app-validations
              [control]="
                form.get(fields.timestampRange.name)
              "
              [label]="fields.timestampRange.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-lg-6">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
        >
          <mat-label>{{
            fields.createdByEmail.label
          }}</mat-label>
          <input
            matInput
            [formControlName]="fields.createdByEmail.name"
            [required]="fields.createdByEmail.required"
          />
          <mat-error>
            <app-validations
              [control]="
                form.get(fields.createdByEmail.name)
              "
              [label]="fields.createdByEmail.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-lg-6">
        <app-tag-form-field
          [control]="form.get(fields.entityNames.name)"
          [label]="fields.entityNames.label"
        ></app-tag-form-field>
      </div>
      <div class="col-xs-12 col-lg-6">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
        >
          <mat-label>{{ fields.entityId.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.entityId.name"
            [required]="fields.entityId.required"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.entityId.name)"
              [label]="fields.entityId.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-xs-12 col-lg-6">
        <mat-form-field
          floatLabel="always"
          appearance="outline"
        >
          <mat-label>{{ fields.action.label }}</mat-label>
          <input
            matInput
            [formControlName]="fields.action.name"
            [required]="fields.action.required"
          />
          <mat-error>
            <app-validations
              [control]="form.get(fields.action.name)"
              [label]="fields.action.label"
            ></app-validations>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="filter-buttons">
      <button
        mat-raised-button
        [disabled]="loading"
        color="primary"
        type="submit"
      >
        <mat-icon
          inline
          fontSet="fas"
          fontIcon="fa-search"
        ></mat-icon
        >&#160;
        <app-i18n key="common.search"></app-i18n>
      </button>
      <button
        mat-flat-button
        [disabled]="loading"
        (click)="doReset()"
        type="button"
      >
        <mat-icon
          inline
          fontSet="fas"
          fontIcon="fa-undo"
        ></mat-icon
        >&#160;
        <app-i18n key="common.reset"></app-i18n>
      </button>
    </div>
  </form>
</div>
