<form
  class="form"
  (ngSubmit)="doSave()"
  [formGroup]="form"
  #ngForm="ngForm"
  *ngIf="form"
>
  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.problemDescription.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.problemDescription.name"
      [placeholder]="fields.problemDescription.placeholder"
      [required]="fields.problemDescription.required"
    appAutofocus
    />

    <mat-hint *ngIf="fields.problemDescription.hint">
      {{ fields.problemDescription.hint }}
    </mat-hint>

    <mat-error>
      <app-validations
        [control]="form.get(fields.problemDescription.name)"
        [label]="fields.problemDescription.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.occuranceDate.label }}</mat-label>
    <input
      matInput
      type="date"
      [formControlName]="fields.occuranceDate.name"
      [placeholder]="fields.occuranceDate.placeholder"
      [required]="fields.occuranceDate.required"
    />

    <mat-hint *ngIf="fields.occuranceDate.hint">
      {{ fields.occuranceDate.hint }}
    </mat-hint>

    <mat-error>
      <app-validations
        [control]="form.get(fields.occuranceDate.name)"
        [label]="fields.occuranceDate.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.possibleCauses.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.possibleCauses.name"
      [placeholder]="fields.possibleCauses.placeholder"
      [required]="fields.possibleCauses.required"
    />

    <mat-hint *ngIf="fields.possibleCauses.hint">
      {{ fields.possibleCauses.hint }}
    </mat-hint>

    <mat-error>
      <app-validations
        [control]="form.get(fields.possibleCauses.name)"
        [label]="fields.possibleCauses.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.suggestedSolves.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.suggestedSolves.name"
      [placeholder]="fields.suggestedSolves.placeholder"
      [required]="fields.suggestedSolves.required"
    />

    <mat-hint *ngIf="fields.suggestedSolves.hint">
      {{ fields.suggestedSolves.hint }}
    </mat-hint>

    <mat-error>
      <app-validations
        [control]="form.get(fields.suggestedSolves.name)"
        [label]="fields.suggestedSolves.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <div
    class="form-buttons"
    [class.form-buttons-modal]="modal"
  >
    <button
      mat-raised-button
      [disabled]="saveLoading"
      color="primary"
      type="submit"
    >
      <mat-icon
        inline
        fontSet="far"
        fontIcon="fa-save"
      ></mat-icon
      >&#160;
      <app-i18n key="common.save"></app-i18n>
    </button>
    <button
      mat-flat-button
      [disabled]="saveLoading"
      (click)="doReset()"
      type="button"
    >
      <mat-icon
        inline
        fontSet="fas"
        fontIcon="fa-undo"
      ></mat-icon
      >&#160;
      <app-i18n key="common.reset"></app-i18n>
    </button>

    <button
      mat-flat-button
      [disabled]="saveLoading"
      type="button"
      (click)="cancel.emit()"
    >
      <mat-icon
        inline
        fontSet="fas"
        fontIcon="fa-times"
      ></mat-icon
      >&#160;
      <app-i18n key="common.cancel"></app-i18n>
    </button>
  </div>
</form>
