<form
  class="form"
  (ngSubmit)="doSave()"
  [formGroup]="form"
  #ngForm="ngForm"
  *ngIf="form"
>
  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.amount.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.amount.name"
      [placeholder]="fields.amount.placeholder"
      [required]="fields.amount.required"
    appAutofocus
    />

    <mat-hint *ngIf="fields.amount.hint">
      {{ fields.amount.hint }}
    </mat-hint>

    <mat-error>
      <app-validations
        [control]="form.get(fields.amount.name)"
        [label]="fields.amount.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.dateRequired.label }}</mat-label>
    <input
      matInput
      type="date"
      [formControlName]="fields.dateRequired.name"
      [placeholder]="fields.dateRequired.placeholder"
      [required]="fields.dateRequired.required"
    />

    <mat-hint *ngIf="fields.dateRequired.hint">
      {{ fields.dateRequired.hint }}
    </mat-hint>

    <mat-error>
      <app-validations
        [control]="form.get(fields.dateRequired.name)"
        [label]="fields.dateRequired.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>{{ fields.paymentReason.label }}</mat-label>
    <input
      matInput
      [formControlName]="fields.paymentReason.name"
      [placeholder]="fields.paymentReason.placeholder"
      [required]="fields.paymentReason.required"
    />

    <mat-hint *ngIf="fields.paymentReason.hint">
      {{ fields.paymentReason.hint }}
    </mat-hint>

    <mat-error>
      <app-validations
        [control]="form.get(fields.paymentReason.name)"
        [label]="fields.paymentReason.label"
      ></app-validations>
    </mat-error>
  </mat-form-field>

  <div
    class="form-buttons"
    [class.form-buttons-modal]="modal"
  >
    <button
      mat-raised-button
      [disabled]="saveLoading"
      color="primary"
      type="submit"
    >
      <mat-icon
        inline
        fontSet="far"
        fontIcon="fa-save"
      ></mat-icon
      >&#160;
      <app-i18n key="common.save"></app-i18n>
    </button>
    <button
      mat-flat-button
      [disabled]="saveLoading"
      (click)="doReset()"
      type="button"
    >
      <mat-icon
        inline
        fontSet="fas"
        fontIcon="fa-undo"
      ></mat-icon
      >&#160;
      <app-i18n key="common.reset"></app-i18n>
    </button>

    <button
      mat-flat-button
      [disabled]="saveLoading"
      type="button"
      (click)="cancel.emit()"
    >
      <mat-icon
        inline
        fontSet="fas"
        fontIcon="fa-times"
      ></mat-icon
      >&#160;
      <app-i18n key="common.cancel"></app-i18n>
    </button>
  </div>
</form>
