<div class="filter-preview">
  <div class="filter-preview-left">
    <span *ngIf="expanded || !items.length"
      ><app-i18n key="common.filters"></app-i18n
    ></span>

    <ng-container *ngIf="!expanded && items.length">
      <app-i18n key="common.filters"></app-i18n>:
      <span class="filter-preview-values">
        <mat-chip *ngFor="let item of items">
          {{ item.label }}: {{ item.value }}

          <button
            style="
              border: none;
              background-color: transparent;
              padding: 0;
            "
            (click)="doRemove($event, item.key)"
            type="button"
          >
            <mat-icon
              class="mat-icon notranslate mat-chip-remove mat-chip-trailing-icon mat-icon-no-color"
              >cancel</mat-icon
            >
          </button>
        </mat-chip>
      </span>
    </ng-container>
  </div>

  <div class="filter-preview-right">
    <mat-icon
      *ngIf="expanded"
      inline
      fontSet="fas"
      fontIcon="fa-chevron-up"
    ></mat-icon>
    <mat-icon
      *ngIf="!expanded"
      inline
      fontSet="fas"
      fontIcon="fa-chevron-down"
    ></mat-icon>
  </div>
</div>
