<app-breadcrumb [items]="breadcrumb"></app-breadcrumb>

<div class="app-content-page">
  <h1 class="app-content-title">
    <app-i18n key="entities.administrativeFinancialPowers.list.title"></app-i18n>
  </h1>

  <app-administrative-financial-powers-list-toolbar></app-administrative-financial-powers-list-toolbar>
  <app-administrative-financial-powers-list-filter></app-administrative-financial-powers-list-filter>
  <app-administrative-financial-powers-list-table></app-administrative-financial-powers-list-table>
</div>
